
    <nav class="h-full flex flex-row justify-between items-center container mx-auto px-4 text-secondary-white">
        <p>&copy; nobr 2023</p>
        <div class="flex flex-row space-x-2 mb-1 max-lg:space-x-4">
            <a href="https://github.com/3akare" target="_blank" rel="noopener noreferrer">
                <img src="/images/footer/github-svgrepo-com.svg" class="w-8 h-8 max-lg:w-[28px] rounded-full"></img>
            </a>
            <a href="https://linkedin.com/in/david-bakare/" target="_blank" rel="noopener noreferrer">
                <img src="/images/footer/linkedin.svg" class="w-8 h-8 max-lg:w-[20px]rounded-full"></img>
            </a>
        </div>
    </nav>
