<!DOCTYPE html>
<html lang="en" class="h-full dark" id="dark-mode-master">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/font/WEB/css/satoshi.css">
    <title>nobr | Meet Strangers</title>
</head>
<body class="h-full">
    <header class="shadow-sm h-[8%]">
        <!-- header -->
          <nav class="container mx-auto w-full flex flex-row p-2 pb-4 m-2 items-center justify-between font-light">
                <a href="#">
                    <div class="bg-gray-500 w-10 h-10 rounded-sm">
                        <!-- <img src="#" alt="nobr logo" width="40px" height="40px"> -->
                    </div>
                </a>
                <div class="bg-gray-500 w-10 h-10 rounded-sm lg:hidden">
                    <!-- <img src="#" alt="nobr logo" width="40px" height="40px"> -->
                </div>
                <div class="max-lg:hidden text-sm pt-1.5">
                    <div>
                        <ul class="flex flex-row space-x-8">
                            <li><a class="hover:text-dark-mode-black/70 text-dark-mode-black" href="#">Legal</a></li>
                            <li><a class="hover:text-dark-mode-black/70 text-dark-mode-black" href="#">Pricing</a></li>
                            <li><a class="hover:text-dark-mode-black/70 text-dark-mode-black" href="#">Community Guidelines</a></li>
                        </ul>
                    </div>
                </div>
                <div class="max-lg:hidden">
                    <div class="flex flex-row items-center gap-6">
                        <button onclick="window.location.href='/video-chat'"  class="w-32 h-9 text-center py-1.5 rounded-e-sm rounded-s-[4px] text-secondary-white bg-primary-green hover:bg-primary-green/80">
                            <p class="font-extralight">video</p>
                        </button>
                        <button onclick="window.location.href='/text-chat'" class="w-32 h-9 py-1.5 text-center rounded-s-sm rounded-e-[4px]
                        text-secondary-white bg-primary-purple hover:bg-primary-purple/80">
                        <p class="font-extralight">chat</p>
                        </button>
                    </div>
                </div>
                <!-- todo: create hamburger dropdown effect for tablet and mobile-->
          </nav>
    </header>
    <main class="flex flex-col h-[80%]">
        <div class="w-full basis-auto bg-gray-500/10 h-[65%]">
        </div>
        <div class="container mx-auto py-8 space-y-10">
            <div class="text-center">
                <h1 class="text-4xl font-medium p-2 m-2 px-16 lg:text-5xl">Group Chat For Everyone</h1>
                <h3 class="text-base font-extralight p-2 m-2 px-16 text-slate-700">Make it better to connect to connect with people face to face</h3>
            </div>
            <div class="flex flex-row gap-6 justify-center relative">
                <button onclick="window.location.href='/video-chat'" class="w-32 h-14 lg:w-40 lg:h-16 lg:p-[18px] lg:text-lg p-4 text-center rounded-e-sm rounded-s-[4px] text-secondary-white bg-primary-green hover:bg-primary-green/80">
                    <p>video</p>
                </button>
                <button onclick="window.location.href='/text-chat'" class="w-32 h-14 lg:w-40 lg:h-16 lg:p-[18px] lg:text-lg p-4 text-center rounded-s-sm rounded-e-[4px] text-secondary-white bg-primary-purple hover:bg-primary-purple/80">
                    <p>chat</p>
                </button>
            </div>
        </div>
        <!-- main -->
    </main>
    <footer class=" absolute -bottom-2 h-[8%] w-full bg-dark-mode-black font-light">
        <button id="dark-mode-toggle" class="absolute border-2 rounded-full w-12 h-12 left-2 bottom-[4.25rem] shadow-sm bg-secondary-white lg:left-12">
        </button>
        <nav class="h-full flex flex-row justify-between items-center container mx-auto px-4 text-secondary-white">
            <p>&copy; nobr 2023</p>
            <div class="flex flex-row space-x-2">
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <div class="w-6 h-6 bg-white rounded-full"></div>
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <div class="w-6 h-6 bg-white rounded-full"></div>
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <div class="w-6 h-6 bg-white rounded-full"></div>
                </a>
            </div>
        </nav>
        <!-- footer -->
    </footer>
    <script type="module" async src="/js/main.js"></script>
</body>
</html>