<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nobr | Meet Strangers</title>
</head>
<body class="h-full dark:bg-dark-mode-black">
    <header class="w-full shadow-sm">
        <%- include('./components/header', {variant: ['not toggle', 'home']}); %>
    </header>
    <main class="flex flex-col h-[80%]">
        <%- include('./components/herosection'); %>
    </main>
    <footer class="absolute -bottom-2 h-[8%] w-full bg-dark-mode-black font-light">
        <%- include('./components/footer', {variant2: true}); %>
    </footer>
</body>
</html>
<script src="/js/main.js"></script>
