<!DOCTYPE html>
<html lang="en" class="h-full dark" id="dark-mode-master">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nobr | Meet Strangers</title>
</head>
<body class="h-full dark:bg-dark-mode-black">
    <header class="shadow-sm h-[9.5%] w-full fixed">
        <%- include('./components/header', {variant: ['not toggle', 'legal']}) %>
    </header>
    <main class="container mx-auto flex flex-col space-y-5 p-2">
       <%- include('./components/legal-main') %>
    </main>
    <!-- todo: Make this a dark mode toggle button -->
    <footer class="absolute -bottom-2 h-[8%] w-full">
        <button id="dark-mode-toggle" class="fixed border-2 rounded-full w-12 h-12 left-4 bottom-10 lg:bottom-4 shadow-sm bg-secondary-white lg:left-12"></button>
        <!-- footer -->
    </footer>
    <script src="/js/main.js"></script>
</body>
</html>