<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/font/WEB/css/satoshi.css">
    <title>nobr | Meet Strangers</title>
</head>
<body class="h-full">
    <header class="shadow-sm h-[9.5%] w-full fixed">
        <!-- header -->
          <nav class="container mx-auto w-full flex flex-row p-2 pb-4 m-2 items-center justify-between font-light">
            <a href="/">
                <div class="bg-gray-500 w-10 h-10 rounded-sm">
                    <!-- <img src="#" alt="nobr logo" width="40px" height="40px"> -->
                </div>
            </a>
                <div class="bg-gray-500 w-10 h-10 rounded-sm lg:hidden">
                    <!-- <img src="#" alt="nobr logo" width="40px" height="40px"> -->
                </div>
                <div class="max-lg:hidden text-sm pt-1.5 hidden">
                    <div>
                        <ul class="flex flex-row space-x-8">
                            <li><a href="/index">Home</a></li>
                            <li><a href="/legal#about-us">Terms & Conditions</a></li>
                            <li><a href="/legal#about-us">Community Guidelines</a></li>
                        </ul>
                    </div>
                </div>
                <div class="max-lg:hidden">
                    <div class="flex flex-row items-center gap-6">
                        <button onclick="window.location.href='/video-chat'"  class="w-32 h-9 bg-gray-500 text-center py-1.5 rounded-e-sm rounded-s-[4px] text-white">
                            <p class="font-extralight">video</p>
                        </button>
                        <button onclick="window.location.href='/text-chat'" class="w-32 h-9 bg-gray-500 py-1.5 text-center rounded-s-sm rounded-e-[4px]
                        text-white">
                        <p class="font-extralight">chat</p>
                        </button>
                    </div>
                </div>
          </nav>
    </header>
    <main class="container mx-auto flex flex-col space-y-5 p-2">
        <section class="mt-[10%] p-4">
            <h1 class="font-medium text-center text-4xl m-2 p-2 py-4">About Us</h1>
            <p class="text-sm font-light">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet incidunt nam rem cum necessitatibus ex unde esse voluptatibus repudiandae. Possimus sint distinctio iste rem beatae iure molestias temporibus impedit, itaque minus error eos cupiditate consequuntur eligendi magni excepturi. Et, optio!
            </p>
        </section>
        <section class="p-4">
            <h1 class="font-medium text-center text-4xl m-2 p-2 py-4">Terms & conditions</h1>
            <p class="text-sm font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore cumque pariatur recusandae ratione eveniet ad, cum asperiores iusto voluptas veritatis voluptates quia! Odio excepturi nobis quaerat delectus rerum doloremque nihil impedit fuga unde. Pariatur asperiores, qui necessitatibus temporibus rerum quidem, aspernatur dolore assumenda sit omnis eum maiores facilis at architecto itaque! Similique esse suscipit exercitationem accusamus cumque, ipsa quia amet, incidunt eum ea officiis quibusdam quis tenetur et delectus! Aperiam ad iure reprehenderit qui laudantium fuga commodi inventore error.</p>
        </section>
        <section class="p-4">
            <h1 class="font-medium text-center text-4xl m-2 p-2 py-4">Community Guidelines</h1>
            <p class="text-sm font-light">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita, maiores possimus officia deleniti quibusdam dolore, provident molestias molestiae, officiis perferendis ipsa? Quam non quia cum corrupti, rem, rerum velit perspiciatis exercitationem id sapiente quas beatae dolores autem quos aperiam! Soluta, commodi dolor id earum quae architecto quis voluptatem assumenda ipsa velit voluptatibus accusantium minima quasi sint nam magni autem at, nulla natus quia et voluptate. Similique sunt placeat ea repellat? Quos ratione error modi placeat maxime totam, magnam quod molestiae iste provident beatae sapiente vitae rem consectetur aliquam cum ipsum voluptatem eius quibusdam? Inventore nobis voluptatibus illum ad quasi maiores dolorum. Nobis, deserunt voluptas, quo dolore voluptatem reiciendis, incidunt nesciunt velit voluptates aspernatur corrupti. Totam libero autem facere ab dignissimos?
            </p>
        </section>
    </main>
    <!-- todo: Make this a dark mode toggle button -->
    <footer class="absolute -bottom-2 h-[8%] w-full bg-gray-500 hidden">
        <nav class="h-full flex flex-row justify-between items-center container mx-auto px-4 text-white">
            <p>&copy; nobr 2023</p>
            <div class="flex flex-row space-x-2">
                <div class="w-6 h-6 bg-white rounded-full"></div>
                <div class="w-6 h-6 bg-white rounded-full"></div>
                <div class="w-6 h-6 bg-white rounded-full"></div>
            </div>
        </nav>
        <!-- footer -->
    </footer>
</body>
</html>