<!DOCTYPE html>
<html lang="en" class="h-full dark" id="dark-mode-master">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/font/WEB/css/satoshi.css">
    <title>nobr | Meet Strangers</title>
</head>
<body class="h-full dark:bg-dark-mode-black">
    <header class="shadow-sm h-[9.5%] w-full fixed">
        <!-- header -->
          <nav class="container mx-auto w-full flex flex-row p-2 pb-4 m-2 items-center justify-between font-light">
            <a href="/">
                <div class="w-10 h-10 rounded-sm dark:bg-[url(/images/Screenshot%202023-06-18%20at%2016.00.46.png)] bg-contain bg-center bg-[url(/images/Screenshot%202023-06-18%20at%2016.01.05.png)]">
                    <!-- <img src="#" alt="nobr logo" width="40px" height="40px"> -->
                </div>
            </a>
                <div class="w-10 h-10 rounded-sm lg:hidden bg-contain bg-center bg-[url(/images/light.svg)] dark:bg-[url(/images/hamburger-menu-svgrepo-com.svg)]">
                    <!-- <img src="#" alt="nobr logo" width="40px" height="40px"> -->
                </div>
                <div class="max-lg:hidden text-sm pt-1.5 hidden">
                    <div>
                        <ul class="flex flex-row space-x-8">
                            <li><a href="/index">Home</a></li>
                            <!-- <li><a href="/legal#about-us">Terms & Conditions</a></li> -->
                            <!-- <li><a href="/legal#about-us">Community Guidelines</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="max-lg:hidden">
                    <div class="flex flex-row items-center gap-6">
                        <button onclick="window.location.href='/video-chat'"  class="w-32 h-9 text-center py-1.5 rounded-e-sm rounded-s-[4px] text-secondary-white bg-primary-green hover:bg-primary-green/80 dark:bg-dark-mode-black dark:border-primary-green dark:border-[1px] dark:hover:text-primary-green box-border">
                            <p class="font-extralight">video</p>
                        </button>
                        <button onclick="window.location.href='/text-chat'" class="w-32 h-9 py-1.5 text-center rounded-s-sm rounded-e-[4px]
                        text-secondary-white bg-primary-purple hover:bg-primary-purple/80 dark:bg-dark-mode-black dark:border-primary-purple dark:border-[1px] dark:hover:text-primary-purple box-border">
                        <p class="font-extralight">chat</p>
                        </button>
                    </div>
                </div>
          </nav>
    </header>
    <main class="container mx-auto flex flex-col space-y-5 p-2">
        <section class="mt-[10%] p-4">
            <h1 class="font-medium text-center lg:text-left text-4xl m-2 p-2 py-4 dark:text-secondary-white">About Us</h1>
            <p class="text-sm font-light dark:text-secondary-white">
                Welcome to <strong class="font-medium">nobr</strong>, the web-based platform that enables individuals of all ages, races, genders, and ethnicities to communicate anonymously through text and video chatting. We provide a safe and secure space where people can connect and freely share their thoughts and ideas without the fear of judgement or reprisal.

                Our mission at nobr is to foster a more inclusive and empathetic society by promoting open and honest communication among individuals from diverse backgrounds. We firmly believe that by facilitating anonymous communication, we can break down barriers and encourage greater understanding and empathy.
                
                To fulfill our mission, we have developed a user-friendly platform that is accessible to anyone with an internet connection. Our intuitive interface ensures ease of use, allowing users to connect with like-minded individuals and engage in meaningful conversations.
                
                At nobr, we prioritize the safety and privacy of our users. We have implemented robust security measures to protect user data and maintain a secure environment for everyone. Your anonymity is of utmost importance to us, and we strive to provide a trustworthy and confidential space for all interactions.
                
                Join us at nobr and be part of a community that values open dialogue, respect, and inclusivity. Together, we can foster genuine connections, promote understanding, and make a positive impact in an increasingly connected world.
            </p>
        </section>
        <section class="p-4">
            <h1 class="font-medium text-center lg:text-left text-4xl m-2 p-2 py-4 dark:text-secondary-white">Terms & conditions</h1>
            <p class="text-sm font-light dark:text-secondary-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore cumque pariatur recusandae ratione eveniet ad, cum asperiores iusto voluptas veritatis voluptates quia! Odio excepturi nobis quaerat delectus rerum doloremque nihil impedit fuga unde. Pariatur asperiores, qui necessitatibus temporibus rerum quidem, aspernatur dolore assumenda sit omnis eum maiores facilis at architecto itaque! Similique esse suscipit exercitationem accusamus cumque, ipsa quia amet, incidunt eum ea officiis quibusdam quis tenetur et delectus! Aperiam ad iure reprehenderit qui laudantium fuga commodi inventore error.

                TermsFeed (https://www.termsfeed.com/)
SEQ Legal (https://www.seqlegal.com/free-legal-documents)
Shopify (https://www.shopify.com/tools/policy-generator/terms-and-conditions)
FreePrivacyPolicy (https://www.freeprivacypolicy.com/free-terms-and-conditions-generator/)
Terms and Conditions Generator by TermsFeed (https://app.termsfeed.com/terms-and-conditions/generator/)
            </p>
        </section>
        <section class="p-4">
            <h1 class="font-medium text-center lg:text-left text-4xl m-2 p-2 py-4 dark:text-secondary-white">Community Guidelines</h1>
            <p class="text-sm font-light dark:text-secondary-white">
                Welcome to our platform! We aim to provide a positive and inclusive environment for all users. To ensure a safe and enjoyable experience for everyone, we have established the following community guidelines:

                Respectful and Inclusive Communication:
                
                Treat others with respect, kindness, and empathy.
                Engage in constructive discussions and avoid personal attacks or harassment.
                Be mindful of your language and refrain from using offensive, discriminatory, or harmful content.
                No Unauthorized Sharing of Personal Information:
                
                Do not share personal information about others without their consent.
                Respect the privacy of other users and maintain confidentiality.
                Responsible Use of the Platform:
                
                Use the platform for its intended purpose and refrain from engaging in any illegal activities.
                Do not spam, distribute malware, or engage in any form of disruptive behavior.
                Report any suspicious or inappropriate content to the platform administrators.
                Intellectual Property and Copyright:
                
                Respect intellectual property rights and do not infringe upon copyrights or trademarks.
                Obtain proper permission or licenses before sharing or using copyrighted material.
                Compliance with Applicable Laws:
                
                Adhere to all local, national, and international laws and regulations while using the platform.
                Do not engage in activities that violate the rights of others or promote illegal behavior.
                Moderation and Enforcement:
                
                The platform administrators have the right to moderate content, enforce these guidelines, and take appropriate action against violations, including warnings, temporary suspensions, or permanent bans.
                Remember, these guidelines are in place to foster a positive and welcoming community. By using our platform, you agree to abide by these guidelines and contribute to a respectful and inclusive environment for all users.
            </p>
            <div class="h-[100px]">
            </div>
        </section>
    </main>
    <!-- todo: Make this a dark mode toggle button -->
    <footer class="absolute -bottom-2 h-[8%] w-full">
        <button id="dark-mode-toggle" class="fixed border-2 rounded-full w-12 h-12 left-4 bottom-10 lg:bottom-4 shadow-sm bg-secondary-white lg:left-12"></button>
        <nav class="h-full flex-row justify-between items-center container mx-auto px-4 text-white hidden">
            <p>&copy; nobr 2023</p>
            <div class="flex flex-row space-x-2">
                <div class="w-6 h-6 bg-white rounded-full"></div>
                <div class="w-6 h-6 bg-white rounded-full"></div>
                <div class="w-6 h-6 bg-white rounded-full"></div>
            </div>
        </nav>
        <!-- footer -->
    </footer>
    <script type="module" async src="/js/main.js"></script>
</body>
</html>