<!DOCTYPE html>
<html lang="en" class="h-full" id="dark-mode-master">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nobr | Meet Strangers</title>
</head>
<body class="h-full dark:bg-dark-mode-black">
    <header class="shadow-sm h-[9.5%] w-full fixed bg-white z-10 dark:bg-dark-mode-black">
        <%- include('./components/header', {variant: ['toggle', 'chat']}) %>
    </header>
    <main class="w-full h-[91%] mt-16 absolute flex justify-center">
        <div class="relative container mx-auto w-full h-[90%] py-12 px-2 overflow-y-auto">
            <div class="w-full" id="chat-text-area">
                <div class="hidden" id="user-1"></div>
                <div class="hidden" id="user-2"></div>
                <div id="scrollintoview"></div>
            </div>
        </div>
        <div class="flex flex-row items-center justify-center absolute bottom-3 w-full max-w-6xl">
            <button class="flex-grow w-[50px] bg-red-500 h-[54px] max-w-[54px] p-2 py-4 m-2 mr-[2px] rounded-s-[4px] rounded-e-sm shadow-md text-secondary-white">
                next
            </button>
            <textarea id="chat" rows="1" class="p-4 my-1 h-[54px] w-[80%] text-sm text-gray-900 rounded-sm border border-gray-300 outline-none resize-none box-border left-0 right-0 shadow-md dark:bg-dark-mode-black dark:text-secondary-white" autofocus placeholder="Your message..." oninput="adjustTextareaHeight(event)"></textarea>
            <button class="absolute flex-grow w-12 h-12 p-1 m-2 ml-[2px] rounded-full text-secondary-white right-1" id="sendTextButton">
                <img src="/images/chat/send-svgrepo-com.svg" class="block dark:hidden" width="35px" height="35px">
                <img src="/images/chat/send-2-svgrepo-com.svg" class="hidden dark:block" width="35px" height="35px">
            </button>
        </div>
    </main>
    <footer class="text-center z-20 h-[40px] absolute w-full -bottom-[18px] text-slate-400">
        connected
    </footer>
    <script src="/js/main.js"></script>
    <script type="module" src="/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>