<!DOCTYPE html>
<html lang="en" class="h-full" id="dark-mode-master">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>nobr | Meet Strangers</title>
</head>
<body class="h-full dark:bg-dark-mode-black">
    <header class="shadow-sm h-[9.5%] w-full fixed bg-white z-10 dark:bg-dark-mode-black">
        <%- include('./components/header', {variant: ['toggle', 'chat']}) %>
    </header>
    <main class="w-full h-[91%] mt-16 absolute flex justify-center flex-col p-2 gap-1 lg:flex-row">
        <div class="relative w-full lg:w-1/2 h-[50%] bg-slate-500/25 lg:h-full">
            <video class="w-full h-full relative" id="user-2" autoplay="autoplay" playsinnline="playsinnline">
            </video>
            <p class="absolute bottom-0 w-fit right-0 p-1 text-secondary-white/10 rounded-sm m-2">nobr</p>
        </div>
        <div class="relative w-full lg:w-1/2 h-[50%] bg-slate-500/25 lg:h-full">
            <video class="w-full h-full relative" id="user-1" autoplay="autoplay" playsinnline="playsinnline">
            </video>
            <p class="absolute bottom-0 w-fit right-0 p-1 text-secondary-white/10 rounded-sm m-2">nobr</p>
            <div class="w-full h-[80px] absolute bottom-0">
                <div class="flex items-center justify-center">
                    <button id="nextChat" class="lg:w-24 w-14 md:w-20 h-14 bg-red-500/80 lg:rounded-sm rounded-full text-secondary-white mt-3 shadow-sm flex items-center justify-center">
                        <img src="/images/chat/end-call-svgrepo-com.svg" width="30px" height="30px">
                    </button>
                </div>
            </div>
        </div>
        <div class="hidden" id="chat-text-area"></div>
    </main>
    <div id="sendTextButton"></div>
    <div id="chat"></div>
    <footer class="text-center z-20 h-[40px] absolute w-full -bottom-[18px] text-slate-400">
        connected
    </footer>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>